apiVersion: v1
kind: ConfigMap
metadata:
  name: dls-config
data:
  application.yaml: |
    server:
      port: 8080

    spring:
      datasource:
        url: jdbc:mysql://mysql:3306/DLS
        username: root

      jpa:
        hibernate:
          ddl-auto: update
        show-sql: true
        properties:
          hibernate:
            format_sql: true
